# Python version
python==3.12.9

# Libraries
streamlit==1.18.0
pandas==2.0.0
scikit-learn==1.0.2
googletrans==4.0.0-rc1
requests==2.27.1
beautifulsoup4==4.10.0
nltk==3.6.7
faiss-cpu==1.7.1
sentence-transformers==2.2.0


